{% extends 'master_template.html' %}
	{% block content %}
		<h1>Welcome to Jane and Joe's Wedding Album</h1>
		<form method="post">
			{% csrf_token %}
			<p><label for="id_email">Email:</label><input type="text" name="email" id="id_email" placeholder="Enter your email..."></p>
			<p><label for="id_password">Password:</label><input type="password" name="password" id="id_password" placeholder="Enter you password..."></p>
			<button id="id_submit_button" type="submit">Login</button>
		</form>
		<p>New User? <a href="/signup/">Signup</a></p>
	{% endblock %}