<!DOCTYPE html>
<html>
	<head>
		<title>J&J's Wedding Roll</title>
	</head>
	<body>
		<h1>Welcome to Jane and Joe's Wedding Album</h1>
		<form>
			<p><label for="id_email">Email:</label></p><input type="text" name="email" id="id_email" placeholder="Enter your email...">
			<p><label for="id_password">Password:</label></p><input type="text" name="password" id="id_password" placeholder="Enter you password...">
			<button id="id_submit_button" type="submit">Login</button>
		</form>
	</body>
</html>