<!DOCTYPE html>
	<html>
	<head>
		<title>J&J's Wedding Roll</title>
	</head>
	<body>
		<h1>Sign Up To Start Uploading Photos</h1>
		<form method="post">
			{% csrf_token %}
			<p><label for="id_email">Email:</label><input type="text" name="email" id="id_email" placeholder="Enter your email..."></p>
			<p><label for="id_password1">Password:</label><input type="password" name="password1" id="id_password1" placeholder="Enter you password..."></p>
			<p><label for="id_password2">Password Confirmation:</label><input type="password" name="password2" id="id_password2" placeholder="Confirm your password..."></p>
			<button id="id_submit_button" type="submit">SignUp</button>
		</form>
	</body>
</html>