<html>
    <head>
        <title>J&J's Wedding Roll</title>
    </head>
    <body>
        {% load static %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block scripts %}
        {% endblock %}
    </body>
</html>