<html lang="en">
<head>
    <title>J&J's Wedding Roll</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Wedding Roll">
    <meta name="author" content="Ronit Rudra">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
    <body class="body">
        {% load static %}

        <div  class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home:home' %}">J&J Wedding Album</a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'rolls:upload' %}">Upload <span class="sr-only">(current)</span></a>
                            {% endif %}
                        </li>
                      
                    </ul>
                    <ul class="form-inline my-2 my-lg-0">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link active" href="{% url 'home:logout' %}">Logout</a>
                        {% endif %}
                    </ul>
                </div>
            </nav>
     
            <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home:home' %}">J&J Wedding Album</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link active" href="{% url 'rolls:upload' %}">Upload <span class="sr-only">(current)</span></a>
                <ul class="navbar-nav mr-aut">
                    <li class="nav-item">
                        <a class="nav-item nav-link active" href="{% url 'home:logout' %}">Logout <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                {% endif %}
            </div>
        </div>
    </nav>-->
            <!--<a class="navbar-brand" href="{% url 'home:home' %}">J&J Wedding Album</a>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-item nav-link active" href="{% url 'rolls:upload' %}">Upload</></a>
            </li>
        </ul>
    </div>
    {% endif %}
    {%if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
        <li><a id="id_logout" href="{% url 'home:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
    {% endif %}-->

            {% block message%}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <ul class="messages">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}

            <div align="center">
                {% block content %}
                {% endblock %}
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            {% block scripts %}
            {% endblock %}
        </div>
    </body>
</html>