{% extends 'master_template.html' %}
{% block content %}
<h1 class="my-4 text-center text-lg-left">Wedding Gallery</h1>
    {% if user.is_owner %}
<a align="center" class="btn btn-info" href="{% url 'rolls:manage' %}" id="id_manage">Manage Pending Requests ({{num_pending}})</a>
    {% endif %}
{% if uploads_list|length > 0 %}
<div align="right">
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Date</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="order=date-asc">Ascending</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="order=date-desc">Descending</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Likes</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="order=likes-asc">Ascending</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="order=likes-desc">Descending</a>
        </div>
    </div>
</div>
<div class="row text-center text-sm-left">
    {% for upload in uploads_list %}

    <div class="col-lg-3 col-md-4 col-xs-6">
        {{upload.date_posted|date}} : {{  upload.description}}
        <a href="{{upload.photo_url.url}}">
            <img class="img-fluid img-thumbnail" src="{{upload.photo_url.url}}">
        </a>
        <input type="button" class="like" id="{{upload.slug}}" name="{{ upload.slug }}" value="like {{upload.total_likes}}" />
    </div>
    {% endfor %}
</div>
    {% else %}
<h1>Oops! No Photos Have Been Uploaded Yet!!</h1>
    {% endif %}

{% endblock %}

{% block scripts %}
<script>
    $('.like').click(function () {
        var id = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: "{% url 'rolls:like' %}",
                data: { 'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function (response) {
                    var elem = document.getElementById(id);
                    elem.value = 'Like ' + response.likes_count;
                    },
                    error: function(rs, e) {
                           alert(rs.responseText);
                    }
              });
        })
</script>
{% endblock %}